body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: justify;
    background-color: #182bd1;
    background-image: url(../imagenes/banner.png); ;
    color: black;
}